
# Node
node_modules/*
npm-debug.log

# TypeScript
app/**/*.js
*.map
*.d.ts
#
# JetBrains, Code
.idea
.project
.settings
.idea/*
.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store

# Vim
*.*~
*~
